In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('/Users/jyngho/Desktop/다항로지스틱회귀분석/data/2022 서울서베이_외국인조사.xlsx')

# 자모비

In [72]:
df['어려움'] =  round((df[[
"Q5A03",
"Q5A04",
"Q5A05",
"Q5A06",
"Q5A07",
"Q5A08",
"Q5A09",
"Q5A10",
"Q5A11",
"Q5A12"]].sum(axis=1) / 10),2)

In [4]:
df['한국어']=round((df[["Q1A1","Q1A2","Q1A3","Q1A4"]].sum(axis=1) / 4),2)

In [5]:
df['항목별사회안전도'] = (round((df[['Q23A05','Q23A06','Q23A07','Q23A08','Q23A09','Q23A10','Q23A11']].sum(axis=1)) / 7),2)[0]

In [6]:
df["이미지점수"]=round((df[[
"Q6A1",
"Q6A2",
"Q6A3",
"Q6A4",
"Q6A5",
"Q6A6",
"Q6A7"]].sum(axis=1) / 7),2)

In [7]:
df['전통과현대의조화'] = df.Q6A1
df['다문화에대한포용'] = df.Q6A2
df['트렌디한문화'] =df.Q6A3
df['친환경적'] =df.Q6A4
df['국제도시'] =df.Q6A5
df['관광도시'] =df.Q6A6
df['미래지향적도시'] =df.Q6A7

In [8]:
df['삶의질만족도점수']=round((df[["Q3A1",
"Q3A2",
"Q3A3",
"Q3A4",
"Q3A5",
"Q3A6"]].sum(axis=1) / 6),2)

In [9]:
df['주관적행복인식점수'] = df[["Q7A1",
"Q7A2",
"Q7A3",
"Q7A4",
"Q7A5"]].sum(axis=1) / 5

In [10]:
df['지역사회소속감'] = round((df[["Q15A1",
"Q15A2",
"Q15A3",
"Q15A4"]].sum(axis=1) / 4),2)

In [11]:
df['항목별사회안전도2'] =  round((df[["Q23A01",
"Q23A02",
"Q23A03",
"Q23A04"]].sum(axis=1) / 4),1)

In [12]:
df['거주지역소속감'] = round((df[["Q16A1", "Q16A2", "Q16A3"]].sum(axis=1) / 3),1)

In [13]:
df['차별경험'] = round((df[["Q20A1", "Q20A2", "Q20A3"]].sum(axis=1) / 3),2)

In [14]:
df['체류월'] = df.S42

In [15]:
df['국적'] = df.S1

In [16]:
df['체류자격'] = df.S2

In [17]:
df['출생년도'] = df.S3

In [18]:
df['주택형태'] = df.S5

In [19]:
df['주거점유형태'] = df.S6

In [20]:
df['성별'] = df.S7

In [21]:
df['서울거주추천의향'] = df["Q4"]

In [22]:
df['직업'] = df.DQ1

In [23]:
df['학력'] = df.DQ4

In [24]:
df2 = df[['체류월',
 '국적',
 '체류자격',
 '출생년도',
 '주택형태',
 '주거점유형태',
 '성별',
 '서울거주추천의향',
 '어려움',
 '한국어',
 '항목별사회안전도',
 '이미지점수',
 '삶의질만족도점수',
 '주관적행복인식점수',
 '지역사회소속감',
 '항목별사회안전도2',
 '거주지역소속감',
 '차별경험','직업','학력']]

In [25]:
import numpy as np

In [26]:
df2

,체류월,국적,체류자격,출생년도,주택형태,주거점유형태,성별,서울거주추천의향,어려움,한국어,항목별사회안전도,이미지점수,삶의질만족도점수,주관적행복인식점수,지역사회소속감,항목별사회안전도2,거주지역소속감,차별경험,직업,학력
0,3,1,1,1970,1,3,2,4,2.5,4.50,3.0,4.57,3.83,7.0,4.75,3.8,4.3,3.00,4,4
1,6,1,6,1985,3,3,2,4,2.5,4.75,2.0,3.86,3.67,5.6,2.00,2.0,2.7,3.00,3,7
2,0,1,6,1987,2,3,1,1,3.1,5.00,4.0,4.14,3.50,7.8,3.00,2.2,2.3,4.67,1,6
3,0,1,6,2000,4,1,2,4,2.4,5.00,4.0,4.00,3.33,6.6,3.75,3.2,4.0,1.67,10,6
4,0,1,6,1969,4,1,1,4,2.4,5.00,4.0,3.71,3.67,6.0,3.75,3.2,4.0,3.00,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,6,4,1981,6,4,1,2,3.9,3.50,2.0,3.29,4.17,6.4,3.25,2.5,1.3,3.00,5,4
2496,0,6,4,1974,6,4,1,2,3.5,3.25,3.0,4.14,3.67,4.6,2.00,2.8,3.0,3.67,5,4
2497,0,6,4,1963,6,4,1,2,3.6,3.25,3.0,3.86,3.50,7.0,1.00,3.2,3.7,3.67,7,3
2498,0,6,4,1956,3,3,2,3,3.6,4.25,3.0,3.43,3.33,3.6,3.00,3.0,2.3,3.67,9,3
2499,0,4,4,1973,3,3,2,3,3.3,3.75,2.0,3.57,3.17,5.8,2.75,2.2,2.7,2.33,9,4

In [27]:
df2.columns

Index(['체류월', '국적', '체류자격', '출생년도', '주택형태', '주거점유형태', '성별', '서울거주추천의향', '어려움',
       '한국어', '항목별사회안전도', '이미지점수', '삶의질만족도점수', '주관적행복인식점수', '지역사회소속감',
       '항목별사회안전도2', '거주지역소속감', '차별경험', '직업', '학력'],
      dtype='object')

In [28]:
df2.loc[df2.성별==1, "성별"]=0

In [29]:
df2.loc[df2.성별==2, "성별"]=1

In [30]:
df2.성별.value_counts()

성별
1    1460
0    1040
Name: count, dtype: int64

In [31]:
국적들=pd.get_dummies(df.국적).set_axis(['국적_1','국적_2','국적_3','국적4','국적_5','국적_6','국적_7','국적8','국적_9','국적_10'],axis=1)

In [32]:
국적들

       국적_1   국적_2   국적_3    국적4   국적_5   국적_6   국적_7    국적8   국적_9  국적_10
0      True  False  False  False  False  False  False  False  False  False
1      True  False  False  False  False  False  False  False  False  False
2      True  False  False  False  False  False  False  False  False  False
3      True  False  False  False  False  False  False  False  False  False
4      True  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
2495  False  False  False  False  False   True  False  False  False  False
2496  False  False  False  False  False   True  False  False  False  False
2497  False  False  False  False  False   True  False  False  False  False
2498  False  False  False  False  False   True  False  False  False  False
2499  False  False  False   True  False  False  False  False  False  False

[2500 rows x 10 columns]

In [33]:
df2.한국어.value_counts()

한국어
4.00    365
3.75    274
4.25    226
3.50    210
3.00    202
4.50    195
3.25    160
5.00    154
2.50    118
1.00    118
2.00    114
2.75    102
4.75     79
2.25     63
1.50     53
1.25     37
1.75     30
Name: count, dtype: int64

In [34]:
체류자격들=pd.get_dummies(df.체류자격).set_axis(['체류자격_1','체류자격_2','체류자격_3','체류자격_4','체류자격_5','체류자격_6','체류자격_7','체류자격_8'],axis=1)

In [35]:
주택형태들=pd.get_dummies(df.주택형태).set_axis(['주택형태_1','주택형태_2','주택형태_3','주택형태_4','주택형태_5','주택형태_6','주택형태_7'],axis=1)

In [36]:
주거점유형태들=pd.get_dummies(df.주거점유형태).set_axis(['주택점유형태_1','주택점유형태_1','주택점유형태_3','주택점유형태_4','주택점유형태_5',],axis=1)

In [37]:
학력들=pd.get_dummies(df.학력).set_axis(['학력_1','학력_2','학력_3','학력_4','학력_5','학력_6','학력_7',],axis=1)

In [38]:
a=(국적들,체류자격들,주택형태들,주거점유형태들,학력들)

In [39]:
b=pd.concat(a,axis=1)

In [40]:
c=df2[df2.columns[7:-2]]

In [41]:
e=(b,c)

In [42]:
df3=pd.concat(e,axis=1)

In [43]:
df2

,체류월,국적,체류자격,출생년도,주택형태,주거점유형태,성별,서울거주추천의향,어려움,한국어,항목별사회안전도,이미지점수,삶의질만족도점수,주관적행복인식점수,지역사회소속감,항목별사회안전도2,거주지역소속감,차별경험,직업,학력
0,3,1,1,1970,1,3,1,4,2.5,4.50,3.0,4.57,3.83,7.0,4.75,3.8,4.3,3.00,4,4
1,6,1,6,1985,3,3,1,4,2.5,4.75,2.0,3.86,3.67,5.6,2.00,2.0,2.7,3.00,3,7
2,0,1,6,1987,2,3,0,1,3.1,5.00,4.0,4.14,3.50,7.8,3.00,2.2,2.3,4.67,1,6
3,0,1,6,2000,4,1,1,4,2.4,5.00,4.0,4.00,3.33,6.6,3.75,3.2,4.0,1.67,10,6
4,0,1,6,1969,4,1,0,4,2.4,5.00,4.0,3.71,3.67,6.0,3.75,3.2,4.0,3.00,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,6,4,1981,6,4,0,2,3.9,3.50,2.0,3.29,4.17,6.4,3.25,2.5,1.3,3.00,5,4
2496,0,6,4,1974,6,4,0,2,3.5,3.25,3.0,4.14,3.67,4.6,2.00,2.8,3.0,3.67,5,4
2497,0,6,4,1963,6,4,0,2,3.6,3.25,3.0,3.86,3.50,7.0,1.00,3.2,3.7,3.67,7,3
2498,0,6,4,1956,3,3,1,3,3.6,4.25,3.0,3.43,3.33,3.6,3.00,3.0,2.3,3.67,9,3
2499,0,4,4,1973,3,3,1,3,3.3,3.75,2.0,3.57,3.17,5.8,2.75,2.2,2.7,2.33,9,4

# 다중공선성 확인

In [44]:
df2

,체류월,국적,체류자격,출생년도,주택형태,주거점유형태,성별,서울거주추천의향,어려움,한국어,항목별사회안전도,이미지점수,삶의질만족도점수,주관적행복인식점수,지역사회소속감,항목별사회안전도2,거주지역소속감,차별경험,직업,학력
0,3,1,1,1970,1,3,1,4,2.5,4.50,3.0,4.57,3.83,7.0,4.75,3.8,4.3,3.00,4,4
1,6,1,6,1985,3,3,1,4,2.5,4.75,2.0,3.86,3.67,5.6,2.00,2.0,2.7,3.00,3,7
2,0,1,6,1987,2,3,0,1,3.1,5.00,4.0,4.14,3.50,7.8,3.00,2.2,2.3,4.67,1,6
3,0,1,6,2000,4,1,1,4,2.4,5.00,4.0,4.00,3.33,6.6,3.75,3.2,4.0,1.67,10,6
4,0,1,6,1969,4,1,0,4,2.4,5.00,4.0,3.71,3.67,6.0,3.75,3.2,4.0,3.00,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,6,4,1981,6,4,0,2,3.9,3.50,2.0,3.29,4.17,6.4,3.25,2.5,1.3,3.00,5,4
2496,0,6,4,1974,6,4,0,2,3.5,3.25,3.0,4.14,3.67,4.6,2.00,2.8,3.0,3.67,5,4
2497,0,6,4,1963,6,4,0,2,3.6,3.25,3.0,3.86,3.50,7.0,1.00,3.2,3.7,3.67,7,3
2498,0,6,4,1956,3,3,1,3,3.6,4.25,3.0,3.43,3.33,3.6,3.00,3.0,2.3,3.67,9,3
2499,0,4,4,1973,3,3,1,3,3.3,3.75,2.0,3.57,3.17,5.8,2.75,2.2,2.7,2.33,9,4

In [45]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [46]:
vif = pd.DataFrame()

In [47]:
vif["VIF Factor"] = [variance_inflation_factor(df2.values, i) for i in range(df2.shape[1])]

In [48]:
vif["features"] = df2.columns

In [49]:
vif = vif.sort_values("VIF Factor").reset_index(drop=True)

In [50]:
vif

    VIF Factor   features
0     2.527448         성별
1     2.901265        체류월
2     3.760032         국적
3     4.690112         직업
4     6.149899       주택형태
5     6.299498       체류자격
6     8.346420       차별경험
7     9.544153    지역사회소속감
8    12.844799     주거점유형태
9    16.058610    거주지역소속감
10   16.146280        한국어
11   18.598457  항목별사회안전도2
12   20.560079   항목별사회안전도
13   21.358304        어려움
14   23.596686   서울거주추천의향
15   24.402198         학력
16   36.043701  주관적행복인식점수
17   51.877792   삶의질만족도점수
18   56.996630      이미지점수
19  204.446401       출생년도

In [52]:
df2.corr()

,체류월,국적,체류자격,출생년도,주택형태,주거점유형태,성별,서울거주추천의향,어려움,한국어,항목별사회안전도,이미지점수,삶의질만족도점수,주관적행복인식점수,지역사회소속감,항목별사회안전도2,거주지역소속감,차별경험,직업,학력
체류월,1.000000,0.002362,-0.029467,0.056229,0.094357,0.113119,0.024091,-0.093221,0.160609,-0.056370,0.014966,-0.050605,-0.119272,0.047649,-0.026919,-0.022914,0.000641,0.154506,0.019434,-0.050334
국적,0.002362,1.000000,0.129577,0.127130,0.095996,0.176015,0.038768,0.137061,-0.108154,-0.215527,-0.138951,0.107823,0.132710,0.043132,0.009210,-0.242145,-0.105683,-0.192493,0.001668,0.124247
체류자격,-0.029467,0.129577,1.000000,-0.069067,-0.008662,-0.134494,0.068313,-0.040762,0.008088,0.053708,0.047276,-0.056126,0.034587,-0.049735,0.072691,0.005323,-0.001753,-0.067077,0.075859,-0.162030
출생년도,0.056229,0.127130,-0.069067,1.000000,0.098345,0.139161,0.092115,0.149842,-0.049168,-0.134613,-0.002138,0.087120,-0.004302,0.128565,0.027892,-0.047673,0.091543,-0.024949,0.181676,0.350377
주택형태,0.094357,0.095996,-0.008662,0.098345,1.000000,0.390472,-0.077375,-0.122562,0.158475,-0.164966,0.102860,-0.101818,-0.094726,-0.111502,-0.099609,0.103511,-0.104688,0.094482,0.156147,-0.003632
주거점유형태,0.113119,0.176015,-0.134494,0.139161,0.390472,1.000000,-0.080400,-0.067728,0.106058,-0.306069,-0.045713,-0.042877,-0.100245,-0.074868,-0.074912,-0.025202,-0.142529,0.046355,0.086603,0.031820
성별,0.024091,0.038768,0.068313,0.092115,-0.077375,-0.080400,1.000000,0.085853,-0.052093,0.009531,0.053666,0.088689,-0.008643,0.025541,0.037151,0.056990,0.045274,-0.020304,0.075219,0.037975
서울거주추천의향,-0.093221,0.137061,-0.040762,0.149842,-0.122562,-0.067728,0.085853,1.000000,-0.304464,-0.043626,-0.148019,0.337922,0.369870,0.164377,-0.012949,-0.029069,0.068002,-0.205060,-0.029385,0.334125
어려움,0.160609,-0.108154,0.008088,-0.049168,0.158475,0.106058,-0.052093,-0.304464,1.000000,-0.048370,0.223355,-0.181463,-0.257624,-0.201896,-0.104198,0.122980,-0.019601,0.333181,0.112995,-0.153466
한국어,-0.056370,-0.215527,0.053708,-0.134613,-0.164966,-0.306069,0.009531,-0.043626,-0.048370,1.000000,0.059640,0.057753,0.191332,0.094998,0.160456,0.023463,0.282110,0.045930,-0.229982,-0.123389
항목별사회안전도,0.014966,-0.138951,0.047276,-0.002138,0.102860,-0.045713,0.053666,-0.148019,0.223355,0.059640,1.000000,-0.187919,-0.131265,-0.176504,-0.077649,0.512267,0.014461,0.179618,0.121872,-0.104863
이미지점수,-0.050605,0.107823,-0.056126,0.087120,-0.101818,-0.042877,0.088689,0.337922,-0.181463,0.057753,-0.187919,1.000000,0.388071,0.314363,0.062796,-0.012871,0.142904,-0.185743,-0.053037,0.230617
삶의질만족도점수,-0.119272,0.132710,0.034587,-0.004302,-0.094726,-0.100245,-0.008643,0.369870,-0.257624,0.191332,-0.131265,0.388071,1.000000,0.160125,0.137092,-0.058318,0.149500,-0.240124,-0.072475,0.097962
주관적행복인식점수,0.047649,0.043132,-0.049735,0.128565,-0.111502,-0.074868,0.025541,0.164377,-0.201896,0.094998,-0.176504,0.314363,0.160125,1.000000,0.153668,-0.137449,0.168717,-0.131529,-0.158987,0.154427
지역사회소속감,-0.026919,0.009210,0.072691,0.027892,-0.099609,-0.074912,0.037151,-0.012949,-0.104198,0.160456,-0.077649,0.062796,0.137092,0.153668,1.000000,-0.110726,0.392987,-0.083517,-0.125240,-0.092143
항목별사회안전도2,-0.022914,-0.242145,0.005323,-0.047673,0.103511,-0.025202,0.056990,-0.029069,0.122980,0.023463,0.512267,-0.012871,-0.058318,-0.137449,-0.110726,1.000000,-0.008870,0.174932,0.125604,-0.019294
거주지역소속감,0.000641,-0.105683,-0.001753,0.091543,-0.104688,-0.142529,0.045274,0.068002,-0.019601,0.282110,0.014461,0.142904,0.149500,0.168717,0.392987,-0.008870,1.000000,-0.037971,-0.036942,0.011058
차별경험,0.154506,-0.192493,-0.067077,-0.024949,0.094482,0.046355,-0.020304,-0.205060,0.333181,0.045930,0.179618,-0.185743,-0.240124,-0.131529,-0.083517,0.174932,-0.037971,1.000000,0.050214,-0.097720
직업,0.019434,0.001668,0.075859,0.181676,0.156147,0.086603,0.075219,-0.029385,0.112995,-0.229982,0.121872,-0.053037,-0.072475,-0.158987,-0.125240,0.125604,-0.036942,0.050214,1.000000,-0.042089
학력,-0.050334,0.124247,-0.162030,0.350377,-0.003632,0.031820,0.037975,0.334125,-0.153466,-0.123389,-0.104863,0.230617,0.097962,0.154427,-0.092143,-0.019294,0.011058,-0.097720,-0.042089,1.000000

In [53]:
X=df2[df2.columns.difference(['서울거주추천의향'])]

In [54]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

# 데이터 프레임 또는 설명 변수 X를 가정합니다.
# X는 독립 변수들의 데이터가 담긴 데이터프레임이라고 가정합니다.

# 데이터프레임의 상수 열 추가
X_with_const = add_constant(X)

# VIF 계산
vif_data = pd.DataFrame()
vif_data["Variables"] = X_with_const.columns
vif_data["VIF"] = [variance_inflation_factor(X_with_const.values, i) for i in range(X_with_const.shape[1])]

print(vif_data)

    Variables           VIF
0       const  54703.539788
1     거주지역소속감      1.331590
2          국적      1.258244
3    삶의질만족도점수      1.338953
4          성별      1.052831
5         어려움      1.278214
6       이미지점수      1.385407
7      주거점유형태      1.350490
8   주관적행복인식점수      1.236162
9        주택형태      1.259781
10    지역사회소속감      1.266512
11         직업      1.189655
12       차별경험      1.239283
13        체류월      1.075532
14       체류자격      1.109061
15       출생년도      1.281933
16         학력      1.302973
17        한국어      1.353307
18   항목별사회안전도      1.496741
19  항목별사회안전도2      1.495692

In [55]:
vif_data.Variables

0         const
1       거주지역소속감
2            국적
3      삶의질만족도점수
4            성별
5           어려움
6         이미지점수
7        주거점유형태
8     주관적행복인식점수
9          주택형태
10      지역사회소속감
11           직업
12         차별경험
13          체류월
14         체류자격
15         출생년도
16           학력
17          한국어
18     항목별사회안전도
19    항목별사회안전도2
Name: Variables, dtype: object

In [56]:
list(vif_data.VIF)

[54703.539788286784,
 1.3315897978228841,
 1.2582435172890059,
 1.338952587264818,
 1.0528314854700713,
 1.278214287935535,
 1.3854066012741386,
 1.350490081676047,
 1.2361617145095345,
 1.2597810244322378,
 1.2665120975900541,
 1.1896547957702608,
 1.2392834342314016,
 1.075532171917149,
 1.1090609527667081,
 1.2819326955320527,
 1.3029729348714043,
 1.353306873505228,
 1.4967414997343789,
 1.495691974122294]

In [57]:
df2[(df2.국적 > 5)].서울거주추천의향.value_counts(normalize=True)

서울거주추천의향
4    0.447
3    0.306
5    0.163
2    0.079
1    0.005
Name: proportion, dtype: float64

In [58]:
df2[(df2.국적 < 5)].서울거주추천의향.value_counts(normalize=True)

서울거주추천의향
4    0.458021
3    0.256372
2    0.179910
5    0.091454
1    0.014243
Name: proportion, dtype: float64

In [59]:
df2.국적.astype(str)

0       1
1       1
2       1
3       1
4       1
       ..
2495    6
2496    6
2497    6
2498    6
2499    4
Name: 국적, Length: 2500, dtype: object

In [60]:
df2['국적+한국어']  =  df2.한국어.astype(str)+df2.국적.astype(str)

/var/folders/rd/11dvrccd4wq_yh483hnrldfh0000gn/T/ipykernel_64025/946189892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['국적+한국어']  =  df2.한국어.astype(str)+df2.국적.astype(str)

In [61]:
df2['국적+한국어'].value_counts()

국적+한국어
4.01      150
3.751     105
3.51       91
5.01       91
3.251      58
         ...
1.53        1
1.253       1
1.7510      1
4.510       1
1.03        1
Name: count, Length: 168, dtype: int64

In [62]:
df2

,체류월,국적,체류자격,출생년도,주택형태,주거점유형태,성별,서울거주추천의향,어려움,한국어,...,이미지점수,삶의질만족도점수,주관적행복인식점수,지역사회소속감,항목별사회안전도2,거주지역소속감,차별경험,직업,학력,국적+한국어
0,3,1,1,1970,1,3,1,4,2.5,4.50,...,4.57,3.83,7.0,4.75,3.8,4.3,3.00,4,4,4.51
1,6,1,6,1985,3,3,1,4,2.5,4.75,...,3.86,3.67,5.6,2.00,2.0,2.7,3.00,3,7,4.751
2,0,1,6,1987,2,3,0,1,3.1,5.00,...,4.14,3.50,7.8,3.00,2.2,2.3,4.67,1,6,5.01
3,0,1,6,2000,4,1,1,4,2.4,5.00,...,4.00,3.33,6.6,3.75,3.2,4.0,1.67,10,6,5.01
4,0,1,6,1969,4,1,0,4,2.4,5.00,...,3.71,3.67,6.0,3.75,3.2,4.0,3.00,2,6,5.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,0,6,4,1981,6,4,0,2,3.9,3.50,...,3.29,4.17,6.4,3.25,2.5,1.3,3.00,5,4,3.56
2496,0,6,4,1974,6,4,0,2,3.5,3.25,...,4.14,3.67,4.6,2.00,2.8,3.0,3.67,5,4,3.256
2497,0,6,4,1963,6,4,0,2,3.6,3.25,...,3.86,3.50,7.0,1.00,3.2,3.7,3.67,7,3,3.256
2498,0,6,4,1956,3,3,1,3,3.6,4.25,...,3.43,3.33,3.6,3.00,3.0,2.3,3.67,9,3,4.256
2499,0,4,4,1973,3,3,1,3,3.3,3.75,...,3.57,3.17,5.8,2.75,2.2,2.7,2.33,9,4,3.754

In [63]:
df2['국적과한국어'] = df2.국적.astype(str) + "_" +(round((df2.한국어),0).astype(int)).astype(str)

/var/folders/rd/11dvrccd4wq_yh483hnrldfh0000gn/T/ipykernel_64025/2026056037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['국적과한국어'] = df2.국적.astype(str) + "_" +(round((df2.한국어),0).astype(int)).astype(str)

In [64]:
a=pd.get_dummies(df2['국적과한국어'])

In [65]:
df3 = df2[['체류월',
 '체류자격',
 '출생년도',
 '주택형태',
 '주거점유형태',
 '성별',
 '서울거주추천의향',
 '어려움',
 '항목별사회안전도',
 '이미지점수',
 '삶의질만족도점수',
 '주관적행복인식점수',
 '지역사회소속감',
 '항목별사회안전도2',
 '거주지역소속감',
 '차별경험',
 '직업',
 '학력']]

In [66]:
b=(df3,a)

In [67]:
df4=pd.concat(b,axis=1).to_csv("국적과한국어.csv",index=False)

In [68]:
df4

In [69]:
학력들=pd.get_dummies(df.학력).set_axis(['학력_1','학력_2','학력_3','학력_4','학력_5','학력_6','학력_7',],axis=1)